@font-face {
    font-family: 'Aileron';
    src: url('../font/Aileron.ttf');
}

.header {
    -fx-background-color : radial-gradient(radius 180%, #f9bfc1, #9670b1);
}

.header-text {
    -fx-font-family: 'Aileron';
    -fx-font-size: 30;
    -fx-fill: white;
}

.Q {
    -fx-background-image: url(../images/q.png);
    -fx-background-size: 76px 125px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-start-margin: 10;
    -fx-end-margin: 10;
}

.sendButton {
    /*
    -fx-graphic: url(images/log2.png);
    -fx-graphic-size:16px 16px;
    */
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
    -fx-background-image: url(../images/send.png);
    -fx-background-size: 63px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-start-margin: 10;
    -fx-end-margin: 10;
}

.sendButton:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-alignment: center;
}

.input {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #f9bfc1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-end-margin: 10;
    -fx-font-family: 'Aileron';
    -fx-font-size: 20;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
}

.scroll-bar {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : linear-gradient(from 0% 5% to 50% 90%, #a370be, #9670b1);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : linear-gradient(from 0% 5% to 100% 90%, #f9bfc1, #9670b1);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.q {
    -fx-font-size: 18;
    -fx-font-family: 'Aileron';
    -fx-background-color: #9670b1;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: white;
    -fx-background-radius: 25;
}

.user {
    -fx-font-size: 18;
    -fx-font-family: 'Aileron';
    -fx-background-color: #767878;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: white;
    -fx-background-radius: 25;
}
